<div class="ui  stacked red segment" style="margin-top:2em">
  <div class="ui red horizontal footer segment">
    <div class="ui container">
      <div class="ui stackable green divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui green header">About</h4>
          <div class="ui  link list">
            <li  class="item">👷 Ababacar Haidara</li>
            <li  class="item">Ingénieur de conception en informatique</li>
            <li  class="item">Sénégal / Dakar</li>
            <li  class="item">Tél : +221 77 275 01 84</li>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui green header">Services</h4>
          <div class="ui  link list">
            <span href="#" class="item">Conception de système d'informations</span>
            <span href="#" class="item">Développement web</span>
            <!-- <span href="#" class="item">How To Access</span>
            <span href="#" class="item">Favorite X-Men</span> -->
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui green header"><strong class="ui violet circular label">GPSE</strong></h4>
          <h5><strong class="ui purple circular label">Gestion de Paiements et Statistiques d'une École</strong></h5>
          <p>Soyez informé et ayez le contrôle des paiments et statistiques de l'ensemble des élèves de votre établissement de manière <strong>simple et rapide 👍</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>